.header {
  padding: 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: 120px;
  background-color: orange;
  background-image: url(../images/asfalt-light.png);
}

.header h2 {
  padding: 10px;
  margin: 0;
}


@media screen and (min-width: 1024px) {
  .header {
    margin: 20vh 0 auto 5vw;
    width: 50vw;
    max-width: 600px;
  }
}