textarea {
  width: 100%;
  border-style: none;
  border-bottom: 4px solid rgb(110,110,110);
  background: transparent;
  line-height: 1;
  margin-top: 10px;
}

.new-tweet-container {
  width: 80%;
  margin: 5vh auto;
}
.btn-counter {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  margin-top: 10px;
}

#tweet-btn {
  background-color: #4056A1;
  color: white;
  border: none;
  padding: 5px 15px;
}

#counter {
  color: rgb(110,110,110);
}


.warning {
  display: none;
}

.warning > div {
  width: 100%;
  color: white;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  padding: 0 10px;
  border-radius: 10px;
  font-weight: bolder;
}

.warning-icon {
  color: white;
  padding-right: 10px;
}

@media screen and (min-width: 1024px) {
 .container {
  margin-top: 15vh;
  }
}